@{
    ViewBag.Title = "Votación";
}


    <ul style="list-style-type: none;">
        <li><h2 class="form-control" style="font-weight:300">Bienvenido!</h2></li>
        <li><a href="@Url.RouteUrl("Votar", new { id = "magalitajes"})">Magalí Tajes</a></li>
        <li><a href="@Url.RouteUrl("Votar", new { id = "sanata"})">Sanata</a></li>
        <li><a href="@Url.RouteUrl("Votar", new { id = "lailaygonzo"})">Laila y Gonzo</a></li>
        <li><a href="@Url.RouteUrl("Votar", new { id = "nicolasdetracy"})">Nicolas De Tracy</a></li>
        <li><a href="@Url.RouteUrl("Votar", new { id = "danilachepi"})">Dani La Chepi</a></li>
        <li><a href="@Url.RouteUrl("Votar", new { id = "darioorsi"})">Dario Orsi</a></li>
    </ul>
